/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


html, body{
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    background: #fff;
    width: 100%;
    height: 100%;
    background: #282828;
}

#wrapper{
    color: #fff;
    margin: 5px;
    text-align: center;
}

#wrapper .loader{
    margin: 5px;
}

.poster{
    position: relative;
    vertical-align:middle;
    float: left;
    font-size: 24px;
    line-height: 1.6em;
    text-align: center;
    display:table;
    color: #000;
    background: #e865a6;
    padding: 30px;
    margin: 5px;
    box-sizing:border-box; 
}

.poster:hover .font-name{
    opacity: .8;
}

.poster .font-name{
    position: absolute;
    background: #000;
    color: #fff;
    display: block;
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    bottom: 5px;
    left: 5px;
    letter-spacing: 0px;
    opacity: .6;
}

.poster .settings{
    position: absolute;
    right: 2px;
    top: 2px;
}

.poster:hover .settings a:link{
    opacity: .6;
}

.poster:hover .settings a:hover{
    opacity: 1.0;
}

.poster .settings a:link{
    font-family: helvetica;
    text-indent: -9999px;
    display: inline-block;
    padding: 10px;
    background: #000;
    margin: 4px;
    border-radius: 4px;
    opacity: 0;
}

/*
<a href='#' class='like'><span>Like</span></a><a class='edit' href='#'><span>Edit</span></a><a class='refresh' href='#'><span>Refresh</span></a></div>
*/

.poster .settings .like span,
.poster .settings .edit span,
.poster .settings .refresh span,
.poster .settings .export span{
    width: 20px;
    height: 20px;
    display: block;
    
}

.poster .settings .like span{
    background: url(../images/like_icon.png) no-repeat center center;
}
.poster .settings .edit span{
    background: url(../images/edit_icon.png) no-repeat center center;
}
.poster .settings .refresh span{
    background: url(../images/refresh_icon.png) no-repeat center center;
}
.poster .settings .export span{
    background: url(../images/export_icon.png) no-repeat center center;
}

.poster .cell {
    display:table-cell; 
    vertical-align:middle;
}

#main-controls{
    color: #fff;
    padding: 10px 0 0 10px;
}

#poster-controls{
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 100;
    
    background: #fff;
    border: 1px solid #333;
    border: none;
    width: 180px;
    padding: 10px;
    
    display:none;
    
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-topleft: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    
    -webkit-box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .5);
    box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, .5);
    
}

#poster-controls #close-btn{
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: .6;
}
#poster-controls #close-btn:hover{
    opacity: 1;
}

#poster-controls #close-btn span{
    display: block;
    text-indent: -99999px;
    width: 20px;
    height: 20px;
    background: url(../images/close.png) no-repeat center center;
}

#poster-controls label,
#poster-controls input,
#poster-controls select{
    display: block;
    margin: 0;
}
#poster-controls input,
#poster-controls select{
    margin: 0 0 4px 0;
}
#poster-controls label{
    margin: 0 0 2px 0;
}

#poster-controls textarea{
    text-align: center;
    width: 168px;
    padding: 4px;
    min-height: 120px;
}

#poster-controls fieldset{
    border: 1px solid black;
    padding: 10px;
}

#poster-controls fieldset legend{
    padding: 0 5px;
    margin-left: 15px;
}

#poster-output{
    width: 400px;
    height: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-top: -200px;
    margin-left: -200px;
    display:none;
}

#poster-output textarea{
    width: 100%;
    height: 100%;
    resize:none;
    box-sizing: border-box;
}

#poster-output .close-btn{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    display:block;
}

#poster-output .close-btn span{
    width: 20px;
    height: 20px;
    display:block;
    background: url(../images/close-btn.png) no-repeat center center;
    text-indent: -99999px;
}


#font-detect-swf{
    position: absolute;
    right: 0;
    bottom: 0;
}

/*clearfix*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
